# Task-5

In [1]:
#Given Dictionary
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [2]:
#1)access "Mike"

dict1[ "april_batch"]["student"]["name"]

'Mike'

In [4]:
#2)access 80

dict1[ "april_batch"]["student"][ "marks"]["python"]

80

In [6]:
#3)change "Mike" to "Your name"
dict1[ "april_batch"]["student"]["name"]="tulsee"
dict1

{'april_batch': {'student': {'name': 'tulsee',
   'marks': {'python': 80, 'maths': 70}}}}

In [7]:
#add ML = 80 and DL = 80 inside marks
dict1[ "april_batch"]["student"][ "marks"]["ML"]=80
dict1[ "april_batch"]["student"][ "marks"]["DL"]=80
dict1

{'april_batch': {'student': {'name': 'tulsee',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}