In [2]:
#original tuple
tup1=(11,22,33,44,"aa","bb","cc","dd")
tup1

(11, 22, 33, 44, 'aa', 'bb', 'cc', 'dd')

In [3]:
#Convert to list 
list1=list(tup1)
list1

[11, 22, 33, 44, 'aa', 'bb', 'cc', 'dd']

In [16]:
#Add 100 and 200 to list 
list1[0] = 100
list1[4] = 200
list1

[100, 22, 33, 44, 200, 'cc', 'dd']

In [12]:
#again convert list to tuple
tup1 = tuple(list1)
tup1

(100, 22, 33, 44, 200, 'bb', 'cc', 'dd')

In [13]:
#again Convert to list 
list1=list(tup1)
list1

[100, 22, 33, 44, 200, 'bb', 'cc', 'dd']

In [15]:
#remove element from the list
list1.remove("bb")
list1

[100, 22, 33, 44, 200, 'cc', 'dd']

In [17]:
#again convert list to tuple
tup1 = tuple(list1)
tup1

(100, 22, 33, 44, 200, 'cc', 'dd')